<!-- Find Player Section -->
<div id="loginSection">
    <div class="centered-form">
        <div class="centered-form__box">
            <h1>Multiplayer Game</h1>
            <form id="joiningForm">
                <label>Player Name:</label>
                <input type="text" id="userName" name="userName" placeholder="Player name" required>
                <input type="hidden" id="game" name="game" value="air-warfare" />
                <button id="submitButton">Play</button>
            </form>

            <div id="loader" style="text-align: center; display: none;"><img src="../img/loader.gif" title="loader" /></div>
        </div>
    </div>
</div>